In [63]:
import numpy as np
import pandas as pd
import h5py
import os

In [24]:
os.chdir('TheBeatlesHDF5 2')

FileNotFoundError: [Errno 2] No such file or directory: 'TheBeatlesHDF5 2'

In [278]:
albums = os.listdir()
albumDic = {}
for album in albums:
    if ((album[0] == '1') | (album[0] == '0')):
        continue
    else:
        albums.remove(album)

In [279]:
print(albumDic)

{}

In [306]:
md_df = pd.DataFrame()
album_df = pd.DataFrame()

names = []
i = 0

for album in albums:
    os.chdir(album)
    
    songs = os.listdir()
    num_tracks = len(songs)
    album = album[5:]
    album = album.replace('_', ' ').strip()
    
    if (album not in names):
        i = i + 1
        names.append(album)
    else:
        os.chdir("..")
        continue
        
    if (album[0] == '-'):
        album = album[2:]
    
    album_df = album_df.append([[i, album, "The Beatles", num_tracks]])
    
    for song in songs:
        songdir = os.getcwd() + '/' + song
        with h5py.File(songdir, 'r') as hdf:
            metadata = np.array(hdf.get('metadata').get('songs'))
            analysis = np.array(hdf.get('analysis').get('songs'))
            mb       = np.array(hdf.get('musicbrainz').get('artist_mbtags'))
            
            s_id  = metadata['song_id'][0]
            title = metadata['title'][0]
            duration = analysis['duration'][0]
            tempo = analysis['tempo'][0]
                        
            md_df = md_df.append([[s_id, title, duration, tempo, i]])
            
    os.chdir("..")

In [307]:
md_df.columns    = ['s_id', 'title', 'duration', 'tempo', 'a_id']
album_df.columns = ['a_id', 'name', 'artist', 'tracks']

In [308]:
md_df.head()

                    s_id                  title   duration    tempo  a_id
0  b'SORDVCC12B20E5E501'   b'Not A Second Time'  128.33914  125.355     1
0  b'SOAASCF12B20E5E432'  b'Till There Was you'  136.75057  122.315     1
0  b'SOHPPTW12B20E5E4AE'  b'Devil In Her Heart'  147.66975  121.079     1
0  b'SOPMVRB12B20E5E4B6'  b"All I've Got To Do"  124.55138  119.377     1
0  b'SOXXWYU12B20E5E508'       b'ALL MY LOVING'  129.56689  159.159     1

In [309]:
album_df

   a_id                                   name       artist  tracks
0     1                       With the Beatles  The Beatles      14
0     2                              Let It Be  The Beatles      12
0     3                       Beatles for Sale  The Beatles      14
0     4                             Abbey Road  The Beatles      17
0     5                                  Help!  The Beatles      14
0     6                            The Beatles  The Beatles      17
0     7                            Rubber Soul  The Beatles      14
0     8                   Magical Mystery Tour  The Beatles      11
0     9  Sgt. Pepper's Lonely Hearts Club Band  The Beatles      13
0    10                     A Hard Day's Night  The Beatles      13
0    11                               Revolver  The Beatles      14
0    12                       Please Please Me  The Beatles      14